{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<!--  Button to display filter form  -->
<button id="btn-show-filters" type="button" class="btn btn-sm mt-2 filter-btn"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-filters"
        aria-expanded="false" aria-controls="collapseExample" onclick="this.blur();">
    <i class="fa-solid fa-filter col-auto my-auto"></i>
</button>

<!--  Button to display order form -->
<button id="btn-order-form" type="button"
        class="btn btn-sm mt-2 {% if action == 'update' %}btn-warning{% else %}btn-primary{% endif %}"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-order-form"
        aria-expanded="{% if action == 'update' %}true{% else %}false{% endif %}" aria-controls="collapseExample"
        onclick="this.blur();">
    {% if action == 'update' %}
    <i class="fa-solid fa-cart-arrow-down col-auto my-auto"></i>
    Update Order
    {% else %}
    <i class="fa-solid fa-cart-plus col-auto my-auto"></i>
    Add New Order
    {% endif %}
</button>

<!--  Filters  -->
<div id="collapse-filters" class="order-filters collapse collapse-filters">
    {# {% include 'orders/partials/order_filter.html' %} #}

    <!--   beginning of new form  #########-->

    <div class="card filter-card px-1 mt-2">
        <form class="filter order-filter" method="get">
            <div class="filter-form-div row mt-1 align-items-end">
                <div class="col row">
                    <div class="col mb-1 row">
                        <div class="col">
                            {{ form.vendor.field }}
                        </div>
                    </div>
                    <div class="col mb-1 row">
                        <div class="col">
                            {{ form.status }}
                        </div>
                    </div>
                    <div class="mb-1 pe-0 row">
                        <div class="col pe-0">
                            {{ form.customer_full_info }}
                        </div>
                    </div>
                </div>
                <div class="col row">
                    <div class="col row mb-1 mx-1 px-0 rounded-1 filter-group">
                        {{ form.has_bottle_deposit.label_tag }}
                        <div class="col-auto">
                            {{ form.has_bottle_deposit.field }}
                        </div>
                    </div>
                    <div class="col row mb-1 mx-1 px-0 rounded-1 filter-group">
                        {{ form.paid.label_tag }}
                        <div class="col-auto">
                            {{ form.paid.field }}
                        </div>
                    </div>
                    <div class="col row mb-1 mx-1 px-0 rounded-1 filter-group">
                        {{ form.is_stand_by.label_tag }}
                        <div class="col-auto">
                            {{ form.is_stand_by.field }}
                        </div>
                    </div>
                    <div class="col row mb-1 mx-1 px-0 rounded-1 filter-group">
                        {{ form.is_cancelled.label_tag }}
                        <div class="col-auto">
                            {{ form.is_cancelled.field }}
                        </div>
                    </div>
                </div>
                <div class="col-auto align-items-end">
                    <div class="row mb-1 mx-0 justify-content-end gap-2">
                        <a id="reset-filters" class="col btn btn-dark btn-sm" href="#">Clear
                            filters</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!--    ##########-->

<!--  Order Form-->
<div id="collapse-order-form"
     class="order-form collapse collapse-order-form {% if action == 'update' %}show{% endif %}">
    {% include 'orders/partials/order_form.html' %}
</div>

<!--  Include list of orders-->
<div class="item-list order-list">
    {% include 'orders/partials/list_orders.html' with order_list=filter.qs %}
</div>

{% endblock %}