{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<script>const origin = "{{ origin }}"</script>
<div class="row mt-2">
    <div class="row col-6 px-1">
        <!--  Button to display filter form  -->
        <button id="btn-show-filters" type="button" class="btn btn-sm me-1 filter-btn col-auto"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-filters"
                aria-expanded="false" aria-controls="collapseExample" onclick="this.blur();">
            <i class="fa-solid fa-filter col-auto my-auto"></i>
        </button>

        <!--  Button to display order form -->
        <button id="btn-order-form" type="button"
                class="btn btn-sm {% if action == 'update' %}btn-warning{% else %}btn-primary{% endif %} col-auto"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-order-form"
                aria-expanded="{% if action == 'update' %}true{% else %}false{% endif %}"
                aria-controls="collapseExample"
                onclick="this.blur();">
            {% if action == 'update' %}
            <i class="fa-solid fa-cart-arrow-down col-auto my-auto"></i>
            Update Order
            {% else %}
            <i class="fa-solid fa-cart-plus col-auto my-auto"></i>
            Add New Order
            {% endif %}
        </button>

    </div>
    {% include 'partials/display_choice.html' %}
</div>

<!--  Filters  -->
<div id="collapse-filters" class="row px-1 order-filters collapse collapse-filters">
    {% include 'orders/partials/order_filter.html' %}
</div>

<!--  Order Form-->
<div id="collapse-order-form"
     class="row px-1 order-form collapse collapse-order-form {% if action == 'update' or action == 'copy' %}show{% endif %}">
    {% include 'orders/partials/order_form.html' %}
</div>

<!--  Include list of orders-->
<div class="item-list order-list">
    <div class="position-relative loading-container">
        <div class="position-absolute top-50 start-50 translate-middle ">
            <img src="{% static 'media/Abundance_Logo_Sq.png' %}" width="400"
                 class="rotate d-inline-block align-middle me-2"
                 alt="">
        </div>
    </div>
</div>

{% endblock %}