{% extends 'base.html' %}
{% block content %}
<!-- TEMPLATE TO DELETE? REPLACED BY customer_filter.html-->
<div class="row">
    <div class="col-auto">
        <form method="post">
            {% csrf_token %}
            {% if action == 'update' %}
            <div class="card border-warning bg-ticket my-2">
                <div class="card-header bg-warning pb-2">
                    <div class="row ">
                        <span class="col-auto">Edit customer:</span>

            {% else %}
            <div class="card border-primary bg-ticket my-2">
                <div class="card-header bg-primary text-white pb-2">
                    <div class="row ">
                        <span class="col-auto">Add a new customer:</span>
            {% endif %}
                    </div>
                </div>
                <div class="card-body py-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0 pb-1">
                            {% include 'customers/partials/customer_form_fields.html' with save_button=True %}
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
    {% include 'customers/partials/list_customers.html' %}
</div>

{% endblock %}