{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="row">
    <div class="col-auto">
        <form method="post">
            {% csrf_token %}
            {% if action == 'update' %}
            <div class="card border-warning bg-ticket my-2">
                <div class="card-header bg-warning pb-2">
                    <div class="row ">
                        <span class="col-auto">Edit customer:</span>

            {% else %}
            <div class="card border-primary bg-ticket my-2">
                <div class="card-header bg-primary text-white pb-2">
                    <div class="row ">
                        <span class="col-auto">Add a new customer:</span>
            {% endif %}
                    </div>
                </div>
                <div class="card-body py-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0 pb-1">
                            {% include 'customers/partials/customer_form_fields.html' with save_button=True %}
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>

    <div class="col">
        <form method="get" class="row my-2">
                <div class="col">
                    {% bootstrap_field filter.form.customer_full_info show_label=False size="small" layout="horizontal"
                    form_group_class="mb-1 pe-0" field_class=" pe-0" label_class="" %}
                </div>
                <div class="col-auto">
                    {% bootstrap_field filter.form.status show_label=False size="small" layout="horizontal"
                    form_group_class="col mb-1" field_class="col" label_class="col-auto" %}
                </div>
                <div class="col-auto mb-1 me-0 justify-content-end">
                    <input class=" align-self-end btn btn-primary btn-sm" type="submit" value="Apply filters"/>
                </div>
        </form>
    </div>
</div>
{% include 'customers/partials/list_customers.html' with customer_list=filter.qs %}

{% endblock %}