{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<script>const origin = "{{ origin }}"</script>
<div class="row mt-2 no-print">
    {% if action == 'update' %}
    {% include 'customers/partials/update_customer.html' %}
    {% else %}
    {% include 'customers/partials/add_customer.html' %}
    {% endif %}

    <div class="col">
        <form class="filter customer-filter row my-2" method="get">
            <div class="col">
                {% bootstrap_field filter.form.customer_full_info show_label=False size="small" layout="horizontal"
                form_group_class="mb-1 pe-0" field_class=" pe-0" label_class="" %}
            </div>
            <div class="col-auto">
                {% bootstrap_field filter.form.status show_label=False size="small" layout="horizontal"
                form_group_class="col mb-1" field_class="col" label_class="col-auto" %}
            </div>
            <div class="col-auto align-items-end my-auto">
                {% bootstrap_field filter.form.ordering show_label=false size="small" layout="horizontal"
                form_group_class="col-auto row mx-0 mb-1 px-0" field_class="col-auto px-0" %}

            </div>
            <div class="col-auto mb-1 me-0 justify-content-end">
                <button id="reset-customer-filters" class="col btn btn-dark btn-sm" type="reset">Clear filters</button>
            </div>

        </form>
        {% include 'partials/display_choice.html' %}
    </div>
</div>
<!--  Include list of orders-->
<div class="item-list customer-list">
    <div class="position-relative loading-container">
        <div class="position-absolute top-50 start-50 translate-middle ">
            <img src="{% static 'media/Abundance_Logo_Sq.png' %}" width="400"
                 class="rotate d-inline-block align-middle me-2"
                 alt="">
        </div>
    </div>
</div>

{% endblock %}