{% load bootstrap5 %}
{% load orders_extras %}

<div class="col form-customer">
    <div>
        <button class="btn btn-primary btn-sm mb-1 me-1" id="btn-existing-customer" type="button">Existing
            Customer
        </button>
        <button class="btn btn-secondary btn-sm mb-1 ms-1" id="btn-new-customer"
                type="button">New Customer
        </button>
    </div>
    <div id="existing-customer-form" class="my-1">
        {% bootstrap_field form.customer layout="horizontal" form_group_class="col" field_class="col"
        show_label=False %}
    </div>
    <div id="new-customer-form" class="mx-2 visually-hidden">
        {% include 'customers/partials/customer_form_fields.html' with form=form.new_customer_form %}
    </div>
    {{ form.create_new_customer.as_hidden }}
</div>