{% load bootstrap5 %}

<div class="row mb-1">

    <div class="mb-1 col row">
        <label class="">Date created</label>
        <div class="">
            <div class=" date-created">
                {{ order.date_created|date:"SHORT_DATE_FORMAT" }}
            </div>
        </div>
    </div>

    {% bootstrap_field form.date_ordered size="small" form_group_class="mb-1 col" layout="horizontal"
    label_class="col" field_class="col-auto" placeholder="MM/DD/YYYY" %}
    {% bootstrap_field form.date_received size="small" form_group_class="mb-1 col" layout="horizontal"
    label_class="col" field_class="col-auto" placeholder="MM/DD/YYYY" %}
    {% bootstrap_field form.date_called size="small" form_group_class="mb-1 col" layout="horizontal"
    label_class="col" field_class="col-auto" placeholder="MM/DD/YYYY" %}
    {% bootstrap_field form.date_picked_up size="small" form_group_class="mb-1 col" layout="horizontal"
    label_class="col" field_class="col-auto" placeholder="MM/DD/YYYY" %}
</div>


