{% load bootstrap5 %}
{% load orders_extras %}

<div class="col form-order mt-1">
    {% bootstrap_field form.description show_label=False size="small" form_group_class="mb-1"
    placeholder="Item Description" %}
    {% bootstrap_field form.vendor show_label=False layout="horizontal" form_group_class="mb-1"
    field_class="col" label_class="col-auto" %}
    <div class="row mb-1">
        {% bootstrap_field form.product_number show_label=False form_group_class="col row" label_class="col"
        field_class="col" size="small" %}
        {% bootstrap_field form.quantity form_group_class="col row" label_class="col" field_class="col"
        size="small" placeholder="0" %}
    </div>
    <div class="row mb-1">
        {% bootstrap_field form.book_price size="small" form_group_class="col-5" show_label=False %}
        <div class="col-3 mb-2 form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="has_bottle_deposit">
            <label class="form-check-label" for="has_bottle_deposit">Bottle Deposit?</label>
        </div>
        <div id="bottle-deposit-quantity" class="col-4 visually-hidden">
            {% bootstrap_field form.number_bottle_deposit size="small" form_group_class="col" show_label=False
            field_class="col" placeholder="How many bottles?" %}
        </div>
    </div>
    <div class="row ps-3 mb-1">

    </div>
</div>