{% load bootstrap5 %}
{% load orders_extras %}

<div class="col">
    {% bootstrap_field form.memo size="small" form_group_class="mb-0" show_label=False rows="3" %}
</div>
<div class="col">
    <div class="row">
        <div class="mb-1 col row">
            <div class="col memo_required_toast-btn">
                <div class="form-check">
                    <input type="checkbox" name="is_stand_by" class="form-check-input" id="is_stand_by_order_form"
                           {% if form.is_stand_by.value %}checked{% endif %}>
                    <label class="form-check-label" for="is_stand_by_order_form">Stand By</label>
                </div>
            </div>
        </div>
        <div class="mb-1 col row">
            <div class="col memo_required_toast-btn">
                <div class="form-check">
                    <input type="checkbox" name="is_cancelled" class="form-check-input" id="is_cancelled_order_form"
                           {% if form.is_cancelled.value %}checked{% endif %}>
                    <label class="form-check-label" for="is_cancelled_order_form">Cancelled</label>
                </div>
            </div>
        </div>
        <div class="mb-1 col row">
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" name="paid" class="form-check-input" id="paid_order_form"
                           {% if form.paid.value %}checked{% endif %}>
                    <label class="form-check-label" for="paid_order_form">Paid</label>
                </div>
            </div>
        </div>
        <div class="mb-1 col row">
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" name="is_suspended" class="form-check-input" id="is_suspended_order_form"
                           {% if form.is_suspended.value %}checked{% endif %}>
                    <label class="form-check-label" for="is_suspended_order_form">Suspended</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% bootstrap_field form.employee_initials size="small" form_group_class="mb-0 col-auto" show_label=False
        %}
        {% include 'orders/partials/buttons/save.html' %}
        {% if action == 'update' %}
        {% include 'orders/partials/buttons/delete.html' %}
        {% elif action == 'create' %}
        {% include 'orders/partials/buttons/save_add_another.html' %}
        {% endif %}
    </div>
</div>
<div class="toast-container position-absolute p-3 top-0 end-0"
     id="toastPlacement" style="z-index: 2222">
    <div id="memo-required-toast" class="toast align-items-center" role="alert"
         aria-live="assertive" data-bs-delay="50000" aria-atomic="true">
        <div class="toast-header bg-warning bg-opacity-75">
            <strong class="me-auto">Memo Required</strong>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-warning bg-opacity-25">
            Please explain why the order is on stand by or cancelled in the Memo section.
        </div>
    </div>
</div>