
#id_memo {
    height: 60px;
}

main {
    font-size: .875rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.order-card {
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
}

.filter-card {
    background-color: rgba(144, 198, 63, 0.1);
    border: 1px solid #91C73E;
}

.filter-btn {
    background-color: #91C73E;
    border-color: #91C73E;
    color: #fff;
}

.filter-btn:hover {
    background-color: #047A3E;
    border-color: #047A3E;
    color: #fff;
}

.filter-group {
    border: 1px solid #91C73E;
}

.form-card-create {
    background-color: rgba(13, 110, 253, 0.1);
    border-color: #0D6EFD;
}

.form-card-update {
    background-color: rgba(255, 192, 8, 0.1);
    border-color: #FFC008;
}

/* select fields in forms */
.form-select {
    line-height: 1;
    padding: .25rem .5rem;
    min-height: calc(1.5em + .5rem + 2px);
    border-radius: .2rem;
    color: #6C757D;
    min-width: 140px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
    border-radius: .2rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #6C757D !important;
}

form, .form-select, .form-control, .select2, .select2-results, .btn-sm, .filter-form-div {
    font-size: .75rem;
}

.input-group-addon {
    height: 31px;
}

.date-created {
    font-size: .875rem;
    height: 31px;
    border: 1px solid #ced4da;
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-light:hover {
    background-color: #ddd;
}

.btn-orders {
    background-color: transparent;
    border: 0;
    color: #0d6efd;
    /*text-decoration: underline;*/
    padding: 0;
}

.btn-previous-step {
    text-align: left;
}

.btn-next-step {
    text-align: right;
}

.btn-orders:hover {
    color: #0B58CA;
}

.btn-order-bottom {
    padding-bottom: .3rem;
}

.btn-order-more-info {
    padding: 0;
}

.bg-incomplete {
    /*background-color: #FF0000;*/
    background-color: #FFB3B3;
}

.bg-ready_to_order {
    /*background-color: #FFA500;*/
    background-color: #FFD580;
}

.bg-ordered {
    /*background-color: #FFFF00;*/
    background-color: #FFFFB3;
}

.bg-received {
    /*background-color: #008000;*/
    background-color: #B3FFB3;
}

.bg-called {
    /*background-color: #0000FF;*/
    background-color: #B3D9FF;
}

.bg-picked_up {
    /*background-color: #800080;*/
    background-color: #D9B3FF;
}

.order-header {
    padding: 0;
}

.order-header-btn {
    padding-right: 4px;
}

.order-small-text {
    font-size: .6rem;
}

.order-description {
    padding-left: .5em;
}

.order-body {
    padding-bottom: 0;
    padding-top: 0;
}

.btn-order-more-hide {
    width: 40px;
}

.customer-form-field {
    padding-left: calc(var(--bs-gutter-x) * .2);
    padding-right: calc(var(--bs-gutter-x) * .2)
}

.vendor-rank {
    width: 100px;
}

.loading-container {
    height: 500px;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}