<div class="row">
    {% for customer in customer_list %}

    <div class="col-auto">
        <div class="card border-primary bg-ticket my-2">
            <div class="card-header">
                <div class="row ">
            <span class="col-auto">
                <span class="col-auto me-auto">{{ customer.last_name }}, {{ customer.first_name}}</span>
            </span>
                    <span class="col-auto ms-auto ">
                <span class="col-auto">
                        <a class="btn-orders" href="{% url 'customers:edit-customer' customer.id %}">
                            <i class="fa-solid fa-pen"></i></a>
                        {% include 'customers/partials/delete_customer.html' %}
                </span>
            </span>
                </div>

            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0 d-grid gap-2">
                        <div>Company: {{ customer.company }}</div>
                        <div>Phone Number: {{ customer.phone_number }}</div>
                        <div>Email: {{ customer.email }}</div>
                        <div>Status: {{ customer.status }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% endfor %}
</div>