{% load bootstrap5 %}


<div class="row mb-1">
    {% bootstrap_field form.first_name show_label=False size="small"
    form_group_class="col row" field_class="col customer-form-field" %}
    {% bootstrap_field form.last_name show_label=False size="small"
    form_group_class="col row" field_class="col customer-form-field" %}
</div>
<div class="row mb-1">
    {% bootstrap_field form.phone_number show_label=False size="small"
    form_group_class="col row" field_class="col customer-form-field" %}
    {% bootstrap_field form.email show_label=False size="small"
    form_group_class="col row" field_class="col customer-form-field" %}
</div>
<div class="row mb-1">
    {% bootstrap_field form.status show_label=False
    size="small" form_group_class="col row" field_class="col customer-form-field" %}
    {% bootstrap_field form.company show_label=False size="small"
    form_group_class="col row" field_class="col customer-form-field" %}

    {% if save_button %}
    <div class="col-auto">
        {% if action == 'update' %}
        <button class="btn btn-warning btn-sm mb-1" type="submit" name="cancel" value="cancel">Cancel</button>
        {% bootstrap_button "Save" button_type="submit" button_class="btn-primary btn-sm mb-1"
        size="sm" %}
        {% else %}
        {% bootstrap_button "Add" button_type="submit" button_class="btn-primary btn-sm mb-1"
        size="sm" extra_classes="col-auto" %}
        {% endif %}
    </div>
    {% endif %}

</div>
