<!-- Trigger/Open the Modal -->
<button class="btn-orders ms-1" type="button" data-bs-toggle="modal"
        data-bs-target="#delete-customer-{{ customer.id }}">
    <i class="fa-solid fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal fade"
     id="delete-customer-{{ customer.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdrop{{ customer.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdrop{{ customer.id }}">Delete Customer</h5>
                <button type="button" class="close btn-orders" data-bs-dismiss="modal" aria-label="Close">
                    <span class="p-2" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                {% if customer.order_set.count == 0 %}
                <p>Are you sure you want to delete the customer {{ customer.name }}?</p>
                {% elif customer.order_set.count == 1 %}
                <p>You are not allowed to delete this customer, because this customer has one order saved.</p>
                {% elif customer.order_set.count > 1 %}
                <p>You are not allowed to delete this customer, because this customer has {{ customer.order_set.count }}
                    orders saved.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                {% if customer.order_set.count == 0 %}
                <form action="{% url 'customers:delete-customer' customer.id %}?customer_full_info={{ request.GET.customer_full_info }}&status={{ request.GET.status }}"
                      method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
