{% load static %}
{% load unicorn %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Special Order - Abundance Food Co-op</title>
    {% unicorn_scripts %}
</head>
<body>
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'media/Abundance_Logo.png' %}" width="200" class="d-inline-block align-top"
             alt="">
        Special Orders
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'orders:home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'orders:create_order' %}">New Order</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Incomplete Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vendors:list_vendors' %}">Vendors</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vendors:create_vendor' %}">New Vendors</a></li>

        </ul>
    </div>
</nav>
<main role="main" class="">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% unicorn 'hello-world' %}
</main>
<footer class="mt-auto px-auto">
    <div class="text-center bg-light py-4 px-0 mt-4">
        <span>
            Developed by
            <a href="https://github.com/franfif/"
               target="_blank" rel="noopener noreferrer">
                Francis Barrow
            </a>
            - 2023
        </span>
    </div>
</footer>
{% csrf_token %}
</body>
</html>