{% load orders_extras %}

<div id="order-card-{{ order.id}}" class="col order-card"
     data-vendor="{{ order.vendor.id }}"
     data-status="{{ order.status }}"
     data-customer="{{ order.customer.id }}"
     data-has_bottle_deposit="{{ order.has_bottle_deposit }}"
     data-paid="{{ order.paid }}"
     data-is_stand_by="{{ order.is_stand_by }}"
     data-is_cancelled="{{ order.is_cancelled }}">
    <div class="card my-2 {% if not order.is_stand_by and not order.is_cancelled %} border-primary {% endif %}">
        <div class="card-header">
            <div class="row ">
                <div class="order-header col-auto">
                    <span id="date-created-{{ order.id }}" class="col-auto me-auto badge bg-light text-dark">{{ order.date_created|short_date }}</span>
                    <span id="status-{{ order.id }}"
                          class="col-auto badge text-dark bg-info">{{ order|status }}</span>
                    {% if order.is_cancelled %}
                    <span id="cancelled-{{ order.id }}" class="col-auto badge text-dark bg-warning">Cancelled</span>
                    {% elif order.is_stand_by %}
                    <span id="stand-by-{{ order.id }}" class="col-auto badge text-dark bg-warning">Stand-By</span>
                    {% endif %}
                </div>
                <div class="order-header-btn col-auto ms-auto">
                    <div class="col-auto">
                        {% if order.status != "DELETED" %}
                        <div>
                            <a class="btn-orders" href="{% url 'orders:edit-order' order.id %}">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </div>
                        {% else %}

                        <form action="{% url 'orders:restore-order' order.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn-orders" type="submit" name="restore">
                                <i class="fa-solid fa-trash-arrow-up"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="order-header order-description col">
                    <span class="col-auto">{{ order|quantity }}
                        <span class="order-small-text"> units of </span>
                        {{ order.description }}</span>
                </div>
                <div class="order-header-btn col-auto ms-auto">
                    <div class="col-auto">
                        {% if order.status != "DELETED" %}
                        <div>
                            <a class="btn-orders" href="{% url 'orders:copy-order' order.id %}">
                                <i class="fa-solid fa-copy"></i>
                            </a>
                        </div>
                        {% else %}
                        <button class="btn-orders"
                                data-order-id="{{ order.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#force-delete-order-{{ order.id }}">
                            <i class="fa-solid fa-skull-crossbones"></i>
                        </button>
                        {% include 'orders/partials/modals/force_delete_modal.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body order-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    <div>{{ order|vendor }} - {{ order|product_number }}</div>
                    <div>${{ order|book_price }} => ${{ order|total_price }} ({{ order|paid }})</div>
                    <div class="collapse collapse-{{order.id}}">
                        <div>Bottle Deposit: {{ order.has_bottle_deposit }}</div>
                        <div>Number of Bottles: {{ order.number_bottle_deposit }}</div>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="customer-name">{{ order|customer_name }}</div>
                    <div class="customer-phone">{{ order.customer.phone_number_formatted|default_if_none:"" }}</div>
                    <div class="customer-email">{{ order.customer.email|default_if_none:"" }}</div>
                    <div class="collapse collapse-{{order.id}}">
                        <div class="customer-company">{{ order|customer_company }}</div>
                        <div class="customer-status">{{ order|customer_status }}</div>
                    </div>
                </li>

            </ul>
            <div class="collapse collapse-{{order.id}}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0"></li>
                    <li class="list-group-item px-0 ">
                        <div>Ordered: <span id="date-ordered-{{ order.id }}">{{ order.date_ordered|date }}</span></div>
                        <div>Received: <span id="date-received-{{ order.id }}">{{ order.date_received|date }}</span>
                        </div>
                        <div>Called: <span id="date-called-{{ order.id }}">{{ order.date_called|date }}</span></div>
                        <div>Picked-up: <span id="date-picked-up-{{ order.id }}">{{ order.date_picked_up|date }}</span>
                        </div>
                    </li>
                    <li class="list-group-item px-0 ">
                        <div>Employee initials: {{ order.employee_initials }}</div>
                        <div>Memo: {{ order.memo }}</div>
                    </li>
                </ul>
            </div>
            <div class="row justify-content-between btn-order-bottom">
                <button class="col btn btn-sm btn-light btn-previous-step{% if not order.status|previous_step %} disabled {% endif %}"
                        data-order-id="{{ order.id }}"
                        data-bs-toggle="{% if order.status|previous_step == 'Delete' %}modal{% endif %}"
                        data-bs-target="#delete-order-{{ order.id }}">
                    <span><i class="fa-solid fa-chevron-left"></i></span>
                    <span id="previous-step-{{ order.id }}">{{ order.status|previous_step|default_if_none:"" }}</span>
                </button>
                <span class="btn-order-more-hide mx-auto">
                    <button class="align-text-top btn-orders btn-order-more-info" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target=".collapse-{{order.id}}"
                            aria-expanded="false" aria-controls="collapseExample" onclick="this.blur();">
                        <i class="fa-solid fa-circle-chevron-down"></i>
                    </button>
                </span>
                <button class="col btn btn-sm btn-light btn-next-step{% if not order.status|next_step %} disabled {% endif %}"
                        data-order-id="{{ order.id }}" data-next-status="{{ order.status|next_step }}"
                        data-paid="{{ order.paid }}"
                        data-bs-toggle="{% if order.status|next_step == 'Picked-Up' and not order.paid %}modal{% endif %}"
                        data-bs-target="#pickup-order-{{ order.id }}">
                    <span id="next-step-{{ order.id }}">{{ order.status|next_step|default_if_none:"" }}</span>
                    <span><i class="fa-solid fa-chevron-right"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>

{% if order.status|previous_step == 'Delete' %}
{% include 'orders/partials/modals/delete_modal.html' %}
{% endif %}

{% if order.status|next_step == 'Picked-Up' and not order.paid %}
{% include 'orders/partials/modals/pickup_modal.html' %}
{% endif %}
