{% load orders_extras %}

<div class="card my-2 {% if not order.is_stand_by %} border-primary {% endif %}">
    <div class="card-header">
        <div class="row ">
            <span class="col-auto">
                <span id="date-created-{{ order.id }}" class="col-auto me-auto badge bg-light text-dark">{{ order.date_created }}</span>
                <span id="status-{{ order.id }}"
                      class="col-auto badge text-dark bg-info">{{ order|status }}</span>
                {% if order.is_stand_by %}
                <span id="stand-by-{{ order.id }}" class="col-auto badge text-dark bg-warning">Stand-By</span>
                {% endif %}
            </span>
            <span class="col-auto ms-auto ">
                <span class="col-auto">
                     {% if order.status != "DELETED" %}
                    <div>
                        <a class="btn-orders" href="{% url 'orders:edit-order' order.id %}">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </div>
                    {% else %}

                    <form action="{% url 'orders:restore-order' pk=order.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn-orders" type="submit" name="restore">
                            <i class="fa-solid fa-trash-arrow-up"></i>
                        </button>
                    </form>
                    {% endif %}
                </span>
            </span>
        </div>
        <div>{{ order|quantity }} units of {{ order.description }}</div>

    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <div>{{ order|vendor }} - {{ order|product_number }}</div>
                <div>${{ order|book_price }} => ${{ order|total_price }} ({{ order|paid }})</div>
                <div class="collapse collapse-{{order.id}}">
                    <div>Bottle Deposit: {{ order.has_bottle_deposit }}</div>
                    <div>Number of Bottles: {{ order.number_bottle_deposit }}</div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div>{{ order|customer_name }}, {{ order|customer_status }}</div>
                <div>{{ order|customer_company }}</div>
                <div>{{ order|customer_phone_number }}</div>
            </li>

        </ul>
        <div class="collapse collapse-{{order.id}}">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0"></li>
                <li class="list-group-item px-0 ">
                    <div>Ordered: <span id="date-ordered-{{ order.id }}">{{ order.date_ordered|date }}</span></div>
                    <div>Received: <span id="date-received-{{ order.id }}">{{ order.date_received|date }}</span></div>
                    <div>Called: <span id="date-called-{{ order.id }}">{{ order.date_called|date }}</span></div>
                    <div>Picked-up: <span id="date-picked-up-{{ order.id }}">{{ order.date_picked_up|date }}</span>
                    </div>
                </li>
                <li class="list-group-item px-0 ">
                    <div>Employee initials: {{ order.employee_initials }}</div>
                    <div>Memo: {{ order.memo }}</div>
                </li>
            </ul>
        </div>
        <button class="btn btn-sm btn-light btn-order-more-info" type="button" data-bs-toggle="collapse"
                data-bs-target=".collapse-{{order.id}}"
                aria-expanded="false" aria-controls="collapseExample" onclick="this.blur();">
            More Info
        </button>
        <button class="btn btn-sm btn-light btn-previous-step {% if not order.status|previous_step %} visually-hidden {% endif %}"
                data-order-id="{{ order.id }}"
                data-bs-toggle="{% if order.status|previous_step == 'Delete Order' %}modal{% endif %}"
                data-bs-target="#delete-order-{{ order.id }}">
            <span id="previous-step-{{ order.id }}">{{ order.status|previous_step }}</span>
        </button>
        <button class="btn btn-sm btn-light btn-next-step {% if not order.status|next_step %} visually-hidden {% endif %}"
                data-order-id="{{ order.id }}">
            <span id="next-step-{{ order.id }}">{{ order.status|next_step }}</span>
        </button>

    </div>

</div>


<!-- The Modal -->
<div class="modal fade"
     id="delete-order-{{ order.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdrop{{ order.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdrop{{ order.id }}">Delete Order</h5>
                <button type="button" class="close btn-orders" data-bs-dismiss="modal" aria-label="Close">
                    <span class="p-2" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure you want to ddedelete the order of {{ order.description }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{% url 'orders:delete-order' order.id %}"
                      method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>