{% load orders_extras %}

<div class="card border-primary bg-ticket my-2">
    <div class="card-header">
        <div>{{ order|quantity }} units of {{ order.description }}</div>
        <div>{{ order.date_created }}, {{ order|status }}</div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <div>{{ order|vendor }} - {{ order|product_number }}</div>
                <div>${{ order|book_price }} => ${{ order|total_price }} ({{ order|paid }})</div>
            </li>
            <li class="list-group-item px-0">
                <div>{{ order|customer_name }}, {{ order|customer_status }}</div>
                <div>{{ order|customer_company }}</div>
                <div>{{ order|customer_phone_number }}</div>
            </li>

        </ul>
        <div class="collapse" id="collapseExample-{{order.id}}">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0"></li>
                <li class="list-group-item px-0 ">
                    <div>Ordered: {{ order.date_ordered|date }}</div>
                    <div>Received: {{ order.date_received|date }}</div>
                    <div>Called: {{ order.date_called|date }}</div>
                    <div>Picked-up: {{ order.date_picked_up|date }}</div>
                </li>
                <li class="list-group-item px-0 ">
                    <div>Employee initials: {{ order.employee_initials }}</div>
                    <div>Memo: {{ order.memo }}</div>
                </li>
            </ul>

            {% if order.status != "DELETED" %}
            <div>
                <a href="{% url 'orders:edit-order' order.id %}">Edit</a>
            </div>
            {% else %}
            <form action="{% url 'orders:restore-order' pk=order.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="restore">Restore</button>
            </form>

            {% endif %}
        </div>
        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample-{{order.id}}"
                aria-expanded="false" aria-controls="collapseExample" onclick="this.blur();">
            More info...
        </button>
    </div>

</div>


<!--has_bottle_deposit = models.BooleanField(null=True, blank=True)-->
<!--number_bottle_deposit = models.PositiveSmallIntegerField(-->
<!--validators=[MinValueValidator(1)], blank=True, null=True-->
<!--)-->

<!--customer = models.ForeignKey(-->
<!--Customer, on_delete=models.PROTECT, blank=True, null=True-->
<!--)-->

<!--status = models.CharField(choices=ORDER_STATUS, max_length=64, null=True)-->
<!--is_stand_by = models.BooleanField(default=False)-->
<!--memo = models.TextField(max_length=500, null=True, blank=True)-->
<!--employee_initials = models.CharField(max_length=5)-->
